<!DOCTYPE html>
<html>
    <head>
        <title>
            hotels of the world
        </title>
           <meta name="viewport" content="width=device-width, initial-scale=1">
                  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


        <link rel="stylesheet" href="/stylesheets/main.css">
       
    </head>    
        <body>
           <div class="gooter">
               
               <nav class="navbar navbar-inverse navbar-fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#na" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        <a class="navbar-brand" href="/">Happy Vacations</a>
                        
                    </div>
        <div class="collapse navbar-collapse" id='na'>
            <ul class=" nav navbar-nav navbar-right ">
                  
               <% if(!myUser) { %> 
                 <li><a href="/login">Login</a></li>   
                 <li><a href="/register">SignUp</a></li>
                <% } else {%>
                 
                  
                 <li><a><%=myUser.username%></a></li>   
                 <li><a href="/logout">Logout</a></li>   
                  <% } %>
            </ul>
            
        </div>
        
    </div>
    
</nav>
               
           </div>
            
    <div id="flash"class="container">
        <% if (success && success.length>0) {%>
        <div class="alert alert-success" role="alert">
        <%= success%>
        </div>
        <% } %>
        <% if(error && error.length>0) {%>
        <div class="alert alert-danger" role="alert">
        <%= error%>
        </div>
        <% }%>
    </div>
    
      