<%include partials/header.ejs%>
<div class="container">
      <table>
         <thead>
             <td><h2>item</h1></td>
             <td><h2>price</h2></td>
         </thead>
     
   <%found.cart.forEach(function(incart){%>
   
     
   <tr>
       <td>
            <div class="item">
             <h3><%= incart.item%></h3>
            </div>
       </td>
       <td>
            <h3><%= incart.price%></h3>
       </td>
   </tr>
  
       
           
    <% })%>
 
    
       
       
</div>
 </table>

<%include partials/footer.ejs%>