<%include ../views/partials/header.ejs%>

<h1>register route</h1>
<form method="post" action="/register">
    <input type="text" name="username" placeholder="username" required autocomplete="off"> 
    <input type="password" name="password" placeholder="username" required autocomplete="off"> 
    <button>-Submit-</button> 
</form>

<%include ../views/partials/footer.ejs%>