.thumbnail img{
    width: 100%;
}

.thumbnail {
    padding:0;
}

.thumbnail .caption-full{
    margin:9px;
}

.delete-content  {
       display:inline; 
}
/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}
#flash{
    padding-top: 5%;
     
}